@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.vjs-control-bar {
  background-color: rgba(0, 0, 0, 0.30) !important;
  display: flex !important;
  flex-wrap: wrap-reverse !important;
}

.vjs-control-bar .vjs-button .vjs-icon-placeholder::before {
  color: #fff !important;
}

.vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
  background-color: rgba(120,120,120,0.40) !important;
}

.vjs-play-progress {
  background-color: #d10d52 !important;
}

.vjs-load-progress div {
  background-color: rgba(140,140,140,0.80) !important;
}

.vjs-volume-level {
  background-color: rgba(140,140,140,0.80) !important;
}

.vjs-progress-control {
  order: 1 !important;
  flex: 1 0 100% !important;
  align-items: end !important;
  height: 1.5em !important;
}

.vjs-current-time {
  display: block !important;
}

.vjs-remaining-time, .vjs-duration {
  display: none !important;
}
